[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"

[packages]
django = "*"
requests = "*"
graphene-django = "*"
psycopg2 = "*"
django-graphql-jwt = "*"
django-filter = "*"
ipython = "*"

[requires]
python_version = "3.7"
