DEBUG=true

FML_MYSQL_DATABASE=fml2019
FML_MYSQL_USER=root
FML_MYSQL_PASSWORD=fml2019
FML_MYSQL_HOST=db
FML_MYSQL_PORT=3306

FML_REDIS_HOST=redis
FML_REDIS_PORT=6379

FML_AWS_ACCESS_KEY=<>
FML_AWS_SECRET_KEY=<>
FML_AWS_ACCOUNT_NUMBER=<>
FML_AWS_REGION=<>

FML_CLOUDFRONT_URL=<>
FML_TEAM_LOGO_BUCKET_NAME=<>